body {
	background-image: url("https://lh5.googleusercontent.com/-Khms4T4rs9E/VNJys-B2_LI/AAAAAAAAAAs/bf9zl2syNXg/w1598-h799-no/background.jpg");
	font-family: "Trebuchet MS";
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	
}

h1 {
	font-family: "Trebuchet MS";
	font-size: 70;
	color: white;
	text-shadow: 1px 1px 1px black;
	-webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
h2 {
	font-family: "Trebuchet MS";
	font-size: 50;
	color: white;
	text-shadow: 1px 1px 1px black;
	-webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
	
}
.center p {
	margin-left: auto;
	margin-right: auto;
	width: auto;
	font-family: "Georgia";
	font-size: 40;
	color: white;
	
}
.center h2 {
	margin-left: auto;
	margin-right: auto;
	width: 65%;
}	
div p {
    width: 500px;
    padding: 15px;
    margin: 10px;
	text-align: center;
}
div h1 {
    width: 80%;
    padding: 15px;
    border: 15px black;
	border-color: black;
    margin: 10px;
}
div h2 {
    width: auto;
    padding: 15px;
    border: 15px black;
	border-color: black;
    margin: 10px; 
}

.banner {
	 height: auto;
	 background-color: #003366;
	 -moz-border-radius: 10px;
	 -webkit-border-radius: 10px;
     border-radius: 10px; 
	 overflow: hidden;
	
}

div ul {  
    list-style-type: none;
	 text-align: center;
    margin: auto;    
    padding: 0;
    overflow: hidden;
    display: block;
	 width: auto;
	 text-decoration: none;	 
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: white;
}
a:hover {
	height: 25px;
	color: blue;
}
div li {
	 font-family: "Trebuchet MS";
	 font-size: 30px;	 
	 display: inline;
	 display: fixed;
     margin-left: 60px;
     margin-right: 60px;
     text-decoration: none;
     overflow: hidden;
}
img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
li {
	font-family: "Georgia";
	font-size: 25px;
   width: 90%;
   color: white;
}
ul {
	font-family: "Trebuchet";
	font-size: 35px;
	width: 500px;
}
.imgtsa {
	margin-left: auto;
	margin-right: 5px;
	border: 10px solid white;
	border-radius: 20px;
	width: 378px;
	height: 566px;
	padding: 0px;
}
.test {
   background-color: grey;
   border: 10px solid;
   border-color: white;
   border-radius: 15px;
   margin-left: 50px;
   
}
.line {
   border: 3px solid;
   border-color: #003366;
   border-radius: 15px;
   width: 95%;
   margin-right: auto;
}

h3 {
	font-family: Georgia;
	font-size: 40px;
	
}

td{
	padding-left: 3em;
	padding-right: 3em;
	margin-left:50px;
}


